@charset "UTF-8";
body, html {
	height: 100%;
	overflow-x: hidden;
}
.wrapper {
	width: 940px;
}
.listTable {
	border: 1px solid black;
	width: 100%;
}
.listTable th, .listTable td {
	text-align: left;
	border: 1px solid black;
}