@charset "UTF-8";

.popup{
    width: 768px;
    height: 700px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #000;
    background: #fff;
    position: fixed;
    top: 132px;
    left: 50%;
    margin-left: -384px;
    z-index: 2;
    display: none;
}